*.iml
# following is used to ignore everything in .idea except codeStyle
!/.idea
/.idea/*
!.idea/codeStyles

.gradle
app/.signing-debug
app/.signing
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
/*.patch
